In [1]:
#pip install pip install jupyterlab==3
#pip install jupyterlab-git==0.30 
#for git to work*

In [4]:
#imports
import pandas as pd

In [7]:
df = pd.read_csv("C:/Users/Hansel/Desktop/jupyter/data-project/heart-dataproject/heart.csv")

In [10]:
df.head(10)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
5,39,M,NAP,120,339,0,Normal,170,N,0.0,Up,0
6,45,F,ATA,130,237,0,Normal,170,N,0.0,Up,0
7,54,M,ATA,110,208,0,Normal,142,N,0.0,Up,0
8,37,M,ASY,140,207,0,Normal,130,Y,1.5,Flat,1
9,48,F,ATA,120,284,0,Normal,120,N,0.0,Up,0

In [21]:
#Initial insights on data

print(df.info(),"\n") #918 entires

print(df.shape, "\n") #shape of data

print(df.nunique(), "\n") #unique data types

print(df.describe(), "\n") #distribution of data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB
None

(918, 12)

Age                50
Sex                 2
ChestPainType       4
RestingBP          67
Cholesterol       222
FastingBS           2
RestingECG          3
MaxHR             119
ExerciseAngina      2
Oldpeak            53
ST_Slope            3
HeartDisease        2
dtype: int64

              Age   RestingBP  Cholesterol   FastingBS       MaxHR  \
count  918.000000  918.000000   918.000000  918.000000  918.000000
mean    53.510893  132.396514   198.799564    0.233115  136.809368
std      9.432617   18.514154   109.384145    0.423046   25.460334
min     28.000000    0.000000     0.000000    0.000000   60.000000
25%     47.000000  120.000000   173.250000    0.000000  120.000000
50%     54.000000  130.000000   223.000000    0.000000  138.000000
75%     60.000000  140.000000   267.000000    0.000000  156.000000
max     77.000000  200.000000   603.000000    1.000000  202.000000

          Oldpeak  HeartDisease
count  918.000000    918.000000
mean     0.887364      0.553377
std      1.066570      0.497414
min     -2.600000      0.000000
25%      0.000000      0.000000
50%      0.600000      1.000000
75%      1.500000      1.000000
max      6.200000      1.000000

In [22]:
#Checking for missing values

df.isnull().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [41]:
# Find rows where column 'B' is 0
rows_zero = df.loc[df['Cholesterol'] == 0]

print(rows_zero)

#172 rows of cholesterol "0" is an error.
#how might we tackle this?
    #impute mean, mode, regression?
    #remove those 172 data points?
rows_zero.shape

     Age Sex ChestPainType  RestingBP  Cholesterol  FastingBS RestingECG  \
293   65   M           ASY        115            0          0     Normal
294   32   M            TA         95            0          1     Normal
295   61   M           ASY        105            0          1     Normal
296   50   M           ASY        145            0          1     Normal
297   57   M           ASY        110            0          1         ST
..   ...  ..           ...        ...          ...        ...        ...
514   43   M           ASY        122            0          0     Normal
515   63   M           NAP        130            0          1         ST
518   48   M           NAP        102            0          1         ST
535   56   M           ASY        130            0          0        LVH
536   62   M           NAP        133            0          1         ST

     MaxHR ExerciseAngina  Oldpeak ST_Slope  HeartDisease
293     93              Y      0.0     Flat             1
294    127              N      0.7       Up             1
295    110              Y      1.5       Up             1
296    139              Y      0.7     Flat             1
297    131              Y      1.4       Up             1
..     ...            ...      ...      ...           ...
514    120              N      0.5       Up             1
515    160              N      3.0     Flat             0
518    110              Y      1.0     Down             1
535    122              Y      1.0     Flat             1
536    119              Y      1.2     Flat             1

[172 rows x 12 columns]

(172, 12)